
    h1 {
    background-color: ;
}

/*p {*/
    /*background-color: #e0ffff;*/
/*}*/

div {
    background-color: #b0c4de;
}

body {
    background: gray;
}
button{
    color: red;
    background-color: darkgreen;
}

